body{
    margin: 10px;
    padding: 20px;
    font-size: 14pt;
}
p b{
    font-family: Times, serif; /* Семейство шрифта */    
}

div{
	height: 100px;
	width: 200px;
	background-color: #e45252;
	margin: 10px 10px 10px 10px;
}

#spisok{        /*Изменение стиля для конкретного ID*/
    margin: 15px     /* Отступ от края страницы*/
}

p b{
    color: lightcoral; /* Синий цвет текста */
}
/*Вложенный селектор.  стиль будет применяться к элементу <b>, когда соблюдается следующий код <p><b></p></b>*/

li>i{               /**/
    color: lightseagreen;
}
/*Здесь дочерним элементом по отношению к тегу <div> выступает тег <p>. Вместе с тем тег <strong> не является дочерним для тега <div>, поскольку он расположен в контейнере <p>.*/
li>b{
    margin-left: 20px;
}

i+b{
	color: darkslateblue; /* Розовый цвет текста */
/* Соседние селекторы. Стиль при такой записи применяется к элементу b, но только в том случае, если он является соседним для элемента i и следует сразу после него.*/
}
/*Соседними называются элементы веб-страницы, когда они следуют непосредственно друг за другом в коде документа.*/

br~b{
    margin: 50px; /* отступ красной строки */
}
/* Родственные селекторы. Cимвол тильды (~) добавляется между двумя селекторами br и p. Стиль при такой записи применяется к элементу p в том случае, если он имеет того же родителя, что и элемент br и следует сразу после него. */

b + i{
    text-indent:50px; /* отступ красной строки */
}
a:link /*Псевдоклассы*/
{
	color: orangered; /* Цвет ссылок */
}
a:visited{
	color: olivedrab; /* Цвет посещенных ссылок */
}
a:active{
	color: gold; /* Цвет активной ссылки */ 
}
p::selection{
	color: dodgerblue; /* Цвет текста */
        background: darkorange; /* Цвет фона */
/* Псевдоэлемент. Применяет стиль к выделенному пользователем тексту */
}